*
!.gitignore
!figures
!figures/xmu-logo-icon.jpg
!figures/xmu-logo-icon.png
!figures/xmu-logo-text.jpg
!figures/xmu-logo-white.png
!example-minimal.tex
!example-slide.pdf
!example-slide.tex
!example.pdf
!example.tex
!gbt7714-2005.bst
!LICENCE
!README.md
!simhei.ttf
!simkai.ttf
!simsun.ttc
!xmu-slide.cls
!xmu.cls
